<section class="section-container">
  <figure class="section-img">
    <img src="{{ asset(image) }}" alt="{{ alt }}">
  </figure>

  <section class="section-content">
        {% if title is defined%}
    <h2>{{ title }}</h2>
    {% endif %}

    <p>{{ paragraph1 }}</p>
    <p>{{ paragraph2 }}</p>


    {% if button_link is defined and button_text is defined %}
      <a href="{{ button_link }}" class="btn">{{ button_text }}</a>
    {% endif %}


  </section>
</section>
