<section class="section-container">
 
  <section class="section-content">
           {% if title is defined%}
    <h2>{{ title }}</h2>
    {% endif %}

    <p>{{ paragraph1 }}</p>
    <p>{{ paragraph2 }}</p>
  </section>

   <figure class="section-img">
    <img src="{{ asset(image) }}" alt="{{ alt }}">
  </figure>

</section>
